<section class="login login-register flex flex-col justify-center items-center px-6">
  <div id="login-form" class="form-container rounded-2xl">
    <h1 class="text-2xl font-bold pb-6">Sign In.</h1>
    <form>
      <div class="pb-4">
        <div>Email</div>
        <input required type="email" id="email" placeholder="tonystark@gmail.com">
      </div>
      <div class="pb-4">
        <div>Password</div>
        <input required id="password" type="password" placeholder="########">
      </div>
      <button class="w-full rounded">Login</button>
      <div class="flex justify-end">
        <a class="mt-5" href="/register">Create Account</a>
      </div>
    </form>
  </div>
</section>