<section class="login login-register flex flex-col justify-center items-center px-6">
    <div class="form-container rounded-md">
        <h1 class="text-2xl font-bold pb-6">Sign In.</h1>
        <form>
            <div class="pb-4">
                <div>Username</div>
                <input required type="text" name="" id="name" placeholder="username">
            </div>
            <div class="pb-4">
                <div>Password</div>
                <input required type="password" placeholder="0000000">
            </div>
            <button class="w-full rounded">Login</button>
            <div class="flex justify-end">
                <a class="pt-5" href="/register">Create Account</a>
            </div>
        </form>
    </div>
</section>