<section class="register login-register flex justify-center items-center px-6">

    <div class="form-container rounded-md">
        <h1 class="text-2xl font-bold pb-6">Create New Account.</h1>
        <form id="register-form">
            <div class="pb-4">
                <div>Username</div>
                <input required type="text" id="name" placeholder="username">
            </div>
            <div class="pb-4">
                <div>Email</div>
                <input required type="email" id="email" placeholder="pizzaro@pmail.com">
            </div>
            <div class="pb-4">
                <div>Password</div>
                <input required type="password" id="password" placeholder="0000000">
            </div>
            <button class="w-full rounded">Sign Up</button>
            <div class="flex justify-end">
                <a class="pt-5" href="/login">Have Account ? Login</a>
            </div>
        </form>
    </div>
</section>