<section class="orders container mx-auto px-12 pb-14">
  <div class="empty-cart">
    <div class="container mx-auto px-12 flex flex-col items-center justify-center mt-20">
      <h1 class="text-3xl font-bold mb-2 text-center">Oops, Page Not Found !</h1>
      <img class="w-48 m-12" src="/img/404.png" alt="">
      <p class="text-center">Sorry, but the requested page is not found, Go back to main page.
      </p>
      <a class="btn-md mt-6" href="/">Go Back</a>
    </div>
  </div>
</section>