<section class="empty-cart">
    <div class="container mx-auto px-12 flex flex-col items-center justify-center mt-20">
        <h1 class="text-3xl font-bold mb-2 text-center">Oops! Your Cart is Empty.</h1>
        <img class="w-48 m-12" src="/img/empty-cart.png" alt="">
        <p class="text-center">You probably haven't ordered a pizza yet.<br>
            To order a pizza, go to the main page.
        </p>
        <a class="btn-md mt-6" href="/">Go Back</a>
    </div>
</section>