<footer class="footer">
  <div class="footer-container container mx-auto px-12 pt-12 pb-5">
    <div class="flex flex-col gap-5">
      <img src="/img/logoImgRounded.png" alt="">
      <div class="flex flex-col gap-3">
        <p><span>Pizza.Ro</span> is your go-to pizza delivery website, powered by a cutting-edge tech
          stack featuring Node, Express, Mongo, and
          SocketIO. With our live order tracking feature, you can follow your piping-hot pizza's
          journey
          from the oven to your doorstep
          in real-time. Say goodbye to guessing when your delicious pie will arrive - PizzaRo brings
          you transparency,
          convenience, and the perfect slice of pizza, all in one place.</p>
        <div class="flex gap-4">
          <a class="btn-md" href=""><i class="ri-github-fill"></i>&nbsp;&nbsp;GitHub</a>
          <!-- <a href=""><i class="ri-linkedin-box-fill"></i>&nbsp;&nbsp;LinkedIn</a> -->
        </div>

      </div>

    </div>
    <div class="flex mt-6 justify-end">
      <p>made with <i class="ri-heart-3-fill"></i> by <a target="_blank" class="underline underline-offset-4" href="https://www.linkedin.com/in/arpitjana2103/">Arpit
          Jana</a> </p>
    </div>
  </div>

</footer>