<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>PizzaRo | Track Order Live</title>
</head>

<body class="pb-40">
    <!-- Nav Bar -->
    <div class="nav-container">
        <nav class="container mx-auto flex items-center justify-between px-12 py-5">
            <div>
                <div id="logo">
                    <a href="#">
                        <img src="/img/logo.png" alt="PzzoRo">
                    </a>
                </div>
            </div>
            <div>
                <ul class="flex gap-6 items-center">
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#menu">Offers</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                    <li>
                        <a id="cart" class="flex gap-1" href="#">
                            <i class="ri-shopping-bag-2-fill"></i>
                            <span class="text-sm">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <!-- Hero Section -->
    <section class="hero container mx-auto grid px-12">
        <div class="flex justify-center items-start flex-col ar01">
            <h1 class="text-8xl font-bold pt-10">
                Satisfy Your Cravings With Our <span>Delicious</span> Pizzas.
            </h1>
            <a href="#menu">Order Now</a>
        </div>
        <div class="flex items-center justify-center ar02">
            <img src="/img/heroPizza2.jpg" alt="pizza">
        </div>
    </section>

    <section id="menu" class="menu container mx-auto px-12 mt-32">
        <h1 class="mb-10 text-2xl font-bold">Our Menu.</h1>
        <div class="pizza-container grid grid-cols-4 gap-10 ">
            <div class="card p-7 rounded-2xl">
                <img src="/img/heroPizza2.jpg" alt="pizza">
                <div class="flex flex-col items-center justify-center">
                    <h2 class="text-3xl pb-6">Margarita</h2>
                    <select class="mb-8">
                        <option value="">Select Size</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                    <div class="w-full flex justify-between">
                        <span class="font-bold">Rs.110</span>
                        <button>
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card p-7 rounded-2xl">
                <img src="/img/heroPizza2.jpg" alt="pizza">
                <div class="flex flex-col items-center justify-center">
                    <h2 class="text-3xl pb-6">Margarita</h2>
                    <select class="mb-8">
                        <option value="">Select Size</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                    <div class="w-full flex justify-between">
                        <span class="font-bold">Rs.110</span>
                        <button>
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card p-7 rounded-2xl">
                <img src="/img/heroPizza2.jpg" alt="pizza">
                <div class="flex flex-col items-center justify-center">
                    <h2 class="text-3xl pb-6">Margarita</h2>
                    <select class="mb-8">
                        <option value="">Select Size</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                    <div class="w-full flex justify-between">
                        <span class="font-bold">Rs.110</span>
                        <button>
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card p-7 rounded-2xl">
                <img src="/img/heroPizza2.jpg" alt="pizza">
                <div class="flex flex-col items-center justify-center">
                    <h2 class="text-3xl pb-6">Margarita</h2>
                    <select class="mb-8">
                        <option value="">Select Size</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                    <div class="w-full flex justify-between">
                        <span class="font-bold">Rs.110</span>
                        <button>
                            <span>+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="/js/app.js" type="module"></script>
</body>

</html>