<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tailwind.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <title>Pizza.Ro | Fresh Fast Flavourful</title>
</head>

<body>
  <%- include('./nav'); %>
  <%- body %>
  <%- include('./footer'); %>
  <script src="/js/app.js" type="module"></script>
</body>

</html>