@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
.noty_layout_mixin, #noty_layout__centerRight, #noty_layout__centerLeft, #noty_layout__center, #noty_layout__bottomRight, #noty_layout__bottomCenter, #noty_layout__bottomLeft, #noty_layout__bottom, #noty_layout__topRight, #noty_layout__topCenter, #noty_layout__topLeft, #noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateZ(0) scale(1, 1);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

.noty_effects_close {
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  animation: noty_modal_out 0.3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}
@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}
@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}
@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}
.noty_theme__sunset.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_theme__sunset.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.noty_theme__sunset.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__sunset.noty_type__alert,
.noty_theme__sunset.noty_type__notification {
  background-color: #073B4C;
  color: #fff;
}
.noty_theme__sunset.noty_type__alert .noty_progressbar,
.noty_theme__sunset.noty_type__notification .noty_progressbar {
  background-color: #fff;
}

.noty_theme__sunset.noty_type__warning {
  background-color: #FFD166;
  color: #fff;
}

.noty_theme__sunset.noty_type__error {
  background-color: #EF476F;
  color: #fff;
}
.noty_theme__sunset.noty_type__error .noty_progressbar {
  opacity: 0.4;
}

.noty_theme__sunset.noty_type__info,
.noty_theme__sunset.noty_type__information {
  background-color: #118AB2;
  color: #fff;
}
.noty_theme__sunset.noty_type__info .noty_progressbar,
.noty_theme__sunset.noty_type__information .noty_progressbar {
  opacity: 0.6;
}

.noty_theme__sunset.noty_type__success {
  background-color: #06D6A0;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 0.12rem;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868e96;
}

.noty_theme__sunset {
  border-radius: 0.7rem !important;
  padding: 0.2rem 0.6rem;
}

.noty_theme__metroui {
  border-radius: 0.7rem !important;
  padding: 0.2rem 0.6rem;
}

input {
  border: 2px solid #868e96;
  transition: all 0.3s ease-in-out;
}
input:focus {
  outline: none;
  border-color: #343a40;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #343a40 white;
  scrollbar-width: thin;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #343a40;
}

.btn-md {
  background-color: #f03e3e;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 100rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-md:hover {
  box-shadow: rgba(240, 62, 62, 0.2745098039) 0px 2px 8px 0px;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 600px) {
  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
nav li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
nav li:hover {
  color: #f03e3e;
}
nav .user-account {
  position: relative;
}
nav .user-account span {
  position: absolute;
  top: -1.5rem;
  font-size: 0.8rem;
  left: 30%;
  padding: 0.1rem 0.5rem;
  background-color: #f1f3f5;
  color: #868e96;
  border-radius: 0.3rem;
  pointer-events: none;
}
nav #logo img {
  height: 4.5rem;
}
nav #logo span {
  color: #f03e3e;
}
nav #cart {
  background-color: #f03e3e;
  font-size: 1.3rem;
  color: #fff;
  padding: 0.2rem 0.35rem;
  border-radius: 0.2rem;
}
nav #cart:hover {
  box-shadow: rgba(240, 62, 62, 0.2745098039) 0px 2px 8px 0px;
}
nav #drop-down {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f03e3e;
  color: white;
  padding: 0.1rem 0.7rem;
  padding-right: 1.4rem;
  border-radius: 0.2rem;
  display: none;
}
nav #drop-down .user-account span {
  top: 0.1rem;
  left: 40%;
  background-color: transparent;
  color: #f03e3e;
}
nav #drop-down i {
  font-size: 1.2rem;
}
nav #drop-down ul {
  color: #343a40;
  position: absolute;
  background-color: #f1f2f2;
  transform: translateX(-68%);
  top: 2rem;
  padding: 1rem;
  padding-right: 1.3rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: -moz-fit-content;
  width: fit-content;
}
nav #drop-down ul li {
  width: 6rem;
  padding: 0.4rem 0.1rem;
}
nav #drop-down ul li a {
  width: -moz-fit-content;
  width: fit-content;
  word-wrap: normal;
}
nav #drop-down ul li span {
  display: inline-block;
  transform: translateY(-0.5rem);
  padding-left: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
  word-wrap: normal;
}
nav #drop-down:hover ul {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1024px) {
  nav #drop-down {
    display: block;
  }
  nav #flat-menu {
    display: none;
  }
}
.hero {
  background-color: white;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas: "ar01 ar02";
}
.hero span {
  color: #f03e3e;
}
.hero img {
  width: 100%;
  max-width: 42rem;
}
.hero .ar01 {
  grid-area: ar01;
}
.hero .ar02 {
  grid-area: ar02;
}

@media (max-width: 1280px) {
  .hero h1 {
    font-size: 4rem;
  }
  .hero a {
    margin-top: 1rem;
  }
}
@media (max-width: 1224px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-areas: "ar02" "ar01";
  }
  .hero h1 {
    font-size: 3.5rem;
    padding-top: 1rem;
  }
}
.donate {
  background-color: #f8f9fa;
}
.donate span {
  color: #1971c2;
}
.donate img {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.donate .btn-md {
  background-color: #1971c2;
}
.donate .btn-md:hover {
  box-shadow: rgba(25, 112, 194, 0.2745098039) 0px 2px 8px 0px;
}

.offer img {
  width: 100%;
  max-width: 35rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 1224px) {
  .offer div {
    flex-direction: column;
  }
}
.menu {
  background-color: #343a40;
}
.menu h1 {
  color: white;
}
.menu select {
  background-color: rgba(85, 85, 85, 0.1843137255);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}
.menu .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 2px solid #868e96;
  background-color: white;
}
.menu .card .food {
  transform: translate(-0.3rem, 3rem);
  z-index: 100;
  top: -1.7rem;
}
.menu .card .food i {
  border: 2px solid #343a40;
  padding: 0.2rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}
.menu .card .food.veg i {
  border-color: #37b24d;
  color: #37b24d;
}
.menu .card .food.nveg i {
  border-color: #f03e3e;
  color: #f03e3e;
}

@media (max-width: 1280px) {
  .menu .pizza-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1026px) {
  .menu .pizza-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .menu .pizza-container {
    grid-template-columns: 1fr;
  }
}
.cart {
  min-height: 50vh;
  padding: 3rem 0rem;
}
.cart h2 {
  color: #f03e3e;
}
.cart .qty button {
  background-color: white;
  color: #f03e3e;
  height: 1.6rem;
  width: 1.6rem;
  border: 2px solid #f03e3e;
  border-radius: 100rem;
  transition: all 0.3s ease-in-out;
}
.cart .qty button:hover {
  background-color: #f03e3e;
  color: white;
}
.cart .total {
  color: #f03e3e;
}
.cart input {
  max-width: 20rem;
  width: 100%;
  padding-left: 0.7rem;
}
.cart .btn-md {
  border-radius: 0.4rem;
}
.cart .orders {
  width: 100%;
  max-width: 50rem;
}
.cart .orders .title {
  border-bottom: 2px solid #868e96;
}
.cart .orders .pizza-list .cart-pizza-item {
  border-bottom: 2px solid #868e96;
}

.login-register {
  min-height: 80vh;
}
.login-register #login-form {
  width: 100%;
  max-width: 25rem;
}
.login-register .form-container {
  border: 2px solid #868e96;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  width: 100%;
  max-width: 40rem;
}
.login-register .form-container h1 {
  color: #f03e3e;
}
.login-register .form-container input {
  border: 2px solid #868e96;
  padding: 0.3rem 0.5rem;
  width: 100%;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.login-register .form-container input:focus {
  outline: none;
  border-color: #f03e3e;
}
.login-register .form-container button {
  background-color: #f03e3e;
  color: white;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s ease-in-out;
}
.login-register .form-container button:hover {
  box-shadow: rgba(240, 62, 62, 0.2745098039) 0px 2px 8px 0px;
}
.login-register .form-container a {
  color: #f03e3e;
}
.login-register .form-container .flex {
  width: 100%;
  max-width: 60rem;
}

@media (max-width: 640px) {
  .login-register.register .form-container {
    width: 100%;
  }
  .login-register.register #register-form .flex {
    flex-direction: column;
    gap: 0;
  }
}
.footer {
  background-color: rgba(218, 218, 218, 0.3294117647);
  border-top: 2px solid #f03e3e;
  border-bottom: 10px solid #343a40;
}
.footer img {
  width: 8rem;
  height: 8rem;
}
.footer p {
  max-width: 50rem;
}
.footer .btn-md {
  background-color: #343a40;
  border-radius: 0.3rem;
  font-size: 0.95rem;
  padding: 0.2rem 0.6rem;
}
.footer .btn-md i {
  font-size: 1.2rem;
}
.footer .btn-md:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.footer span {
  color: #f03e3e;
  font-weight: bold;
}

.account {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account .form-container {
  min-width: 25rem;
  border: 2px solid #868e96;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
}
.account .form-container h1 {
  color: #f03e3e;
}
.account .form-container input {
  border: 2px solid #868e96;
  padding: 0.3rem 0.5rem;
  width: 100%;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.account .form-container input:focus {
  outline: none;
  border-color: #f03e3e;
}
.account .form-container input:focus::-moz-placeholder {
  color: transparent;
}
.account .form-container input:focus::placeholder {
  color: transparent;
}
.account .form-container input::-moz-placeholder {
  color: #343a40;
}
.account .form-container input::placeholder {
  color: #343a40;
}
.account .form-container a,
.account .form-container button {
  background-color: #f03e3e;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
}
.account .form-container a:hover,
.account .form-container button:hover {
  box-shadow: rgba(240, 62, 62, 0.2745098039) 0px 2px 8px 0px;
}

.orders {
  min-height: 80vh;
}
.orders .card {
  width: 100%;
  max-width: 50rem;
  background-color: #f3f3f3;
  border: 2px solid #f03e3e;
}
.orders .card .orderData .orderid {
  color: white;
  background-color: #f03e3e;
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.6rem;
}
.orders .card .orderData button {
  background-color: transparent;
  color: #343a40;
  border: 2px solid #868e96;
  padding: 0rem 0.7rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.orders .card .orderData button:hover {
  border-color: #343a40;
}
.orders .card .orderData .cahngeOrderStatus {
  cursor: pointer;
  background-color: #343a40;
  color: white;
  padding: 0.15rem 0.4rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.orders .card .orderData .cahngeOrderStatus:focus {
  outline: none;
  border: none;
}
.orders .card .orderData .total-row {
  color: #f03e3e;
}
.orders .card .orderData .items h3 {
  color: #f03e3e;
}
.orders .card .orderData .items table,
.orders .card .orderData .items th,
.orders .card .orderData .items td {
  border: 2px solid #868e96;
  border-collapse: collapse;
}
.orders .card .orderData .items td {
  padding: 0.2rem 0.7rem;
}
.orders .card .orderStatus .bar {
  height: 0.1rem;
  width: 6rem;
  top: 1.2rem;
  left: -67%;
  background-color: #868e96;
  border-radius: 1rem;
}
.orders .card .orderStatus .flex {
  display: flex;
  gap: 2rem;
}
.orders .card .orderStatus .status {
  color: #868e96;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.3rem;
  width: 6rem;
}
.orders .card .orderStatus .status i {
  font-size: 1.3rem;
}
.orders .card .orderStatus .status .time {
  font-size: 0.9rem;
}
.orders .card .orderStatus .status.red {
  color: #f03e3e;
}
.orders .card .orderStatus .status.red span {
  font-weight: 500;
}
.orders .card .orderStatus .status.red .bar {
  background-color: #f03e3e;
}

@media (max-width: 768px) {
  .orders .card .orderStatus {
    padding-top: 1rem;
  }
  .orders .card .orderStatus .bar {
    height: 2.5rem;
    width: 0.1rem;
    left: 0.9rem;
    top: -2.3rem;
    border-radius: 1rem;
  }
  .orders .card .orderStatus .flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .orders .card .orderStatus .status {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    max-width: 20rem;
  }
  .orders .card .orderStatus .status span {
    width: 5rem;
  }
  .orders .card .orderStatus .status span.time {
    font-size: 0.95rem;
    padding-top: 0.1rem;
    width: 6rem;
    padding-left: 1rem;
  }
  .orders .card .orderStatus .status.red {
    color: #f03e3e;
  }
  .orders .card .orderStatus .status.red span {
    font-weight: 500;
  }
  .orders .card .orderStatus .status.red .bar {
    background-color: #f03e3e;
  }
}
