@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 0.12rem;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #495057;
}

.nav-container nav li a {
  transition: all 0.3s ease-in-out;
}
.nav-container nav li a:hover {
  color: #f03e3e;
}
.nav-container #logo img {
  height: 4.5rem;
}
.nav-container #logo span {
  color: #f03e3e;
}
.nav-container #cart {
  background-color: #f03e3e;
  font-size: 1.3rem;
  color: #fff;
  padding: 0.2rem 0.35rem;
  border-radius: 0.2rem;
}
.nav-container #cart:hover {
  box-shadow: rgba(240, 62, 62, 0.2745098039) 0px 2px 8px 0px;
}

.hero {
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas: "ar01 ar02";
}
.hero span {
  color: #f03e3e;
}
.hero img {
  width: 100%;
  max-width: 42rem;
}
.hero .ar01 {
  grid-area: ar01;
}
.hero .ar02 {
  grid-area: ar02;
}
.hero a {
  background-color: #f03e3e;
  color: white;
  padding: 0.3rem 1rem;
  margin-top: 2rem;
  border-radius: 100rem;
}
.hero a:hover {
  box-shadow: rgba(240, 62, 62, 0.2745098039) 0px 2px 8px 0px;
}

.menu select {
  background-color: rgba(85, 85, 85, 0.1843137255);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}
.menu .card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 2px solid #ccc;
}
.menu .card button {
  background-color: #f03e3e;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 100rem;
}
.menu .card button:hover {
  box-shadow: rgba(240, 62, 62, 0.2745098039) 0px 2px 8px 0px;
}

@media (max-width: 1280px) {
  .hero h1 {
    font-size: 4rem;
  }
  .hero a {
    margin-top: 1rem;
  }
  .menu .pizza-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1224px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-areas: "ar02" "ar01";
  }
  .hero h1 {
    font-size: 3.5rem;
    padding-top: 1rem;
  }
}
@media (max-width: 1026px) {
  .menu .pizza-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .nav-container nav li:nth-child(-n+3) {
    display: none;
  }
}
@media (max-width: 600px) {
  .container {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
  .menu .pizza-container {
    grid-template-columns: 1fr;
  }
}
