.orders {
    min-height: 80vh;
    .card {
        width: 100%;
        max-width: 50rem;
        background-color: #f3f3f3;
        border: 2px solid $primary;

        .orderData {
            .orderid {
                color: white;
                background-color: $primary;
                padding: 0.2rem 0.8rem;
                border-radius: 0.2rem;
                width: fit-content;
                margin-bottom: 0.6rem;
            }
            button {
                background-color: transparent;
                color: $dark;
                border: 2px solid $grey;
                padding: 0rem 0.7rem;
                border-radius: 0.2rem;
                transition: $smooth;
                &:hover {
                    border-color: $dark;
                }
            }

            .cahngeOrderStatus {
                cursor: pointer;
                background-color: $dark;
                color: white;
                padding: 0.15rem 0.4rem;
                border-radius: 0.2rem;
                transition: $smooth;
                &:focus {
                    outline: none;
                    border: none;
                }
            }

            .total-row {
                color: $primary;
            }

            .items {
                h3 {
                    color: $primary;
                }

                table,
                th,
                td {
                    border: 2px solid $grey;
                    border-collapse: collapse;
                }
                td {
                    padding: 0.2rem 0.7rem;
                }
            }
        }

        .orderStatus {
            .bar {
                height: 0.1rem;
                width: 6rem;
                top: 1.2rem;
                left: -67%;
                background-color: #868e96;
                border-radius: 1rem;
            }
            .flex {
                display: flex;
                gap: 2rem;
            }

            .status {
                color: #868e96;
                z-index: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                padding: 0.3rem;
                width: 6rem;
                i {
                    font-size: 1.3rem;
                }
                .time {
                    font-size: 0.9rem;
                }
            }

            .status.red {
                color: $primary;
                span {
                    font-weight: 500;
                }
                .bar {
                    background-color: $primary;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .orders {
        .card {
            .orderStatus {
                padding-top: 1rem;
                .bar {
                    height: 2.5rem;
                    width: 0.1rem;
                    left: 0.9rem;
                    top: -2.3rem;
                    border-radius: 1rem;
                }
                .flex {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .status {
                    z-index: 10;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 1rem;
                    width: 100%;
                    max-width: 20rem;
                    span {
                        width: 5rem;
                    }
                    span.time {
                        font-size: 0.95rem;
                        padding-top: 0.1rem;
                        width: 6rem;
                        padding-left: 1rem;
                    }
                }

                .status.red {
                    color: $primary;
                    span {
                        font-weight: 500;
                    }
                    .bar {
                        background-color: $primary;
                    }
                }
            }
        }
    }
}
