.login-register {
    min-height: 80vh;
    #login-form {
        width: 100%;
        max-width: 25rem;
    }

    .form-container {
        border: 2px solid $grey;
        box-shadow: $shadow;
        padding: 2rem;
        width: 100%;
        max-width: 40rem;

        h1 {
            color: $primary;
        }

        input {
            border: 2px solid $grey;
            padding: 0.3rem 0.5rem;
            width: 100%;
            border-radius: 0.3rem;
            margin-top: 0.5rem;
            transition: $smooth;
            &:focus {
                outline: none;
                border-color: $primary;
            }
        }

        button {
            background-color: $primary;
            color: white;
            padding: 0.5rem 0.5rem;
            transition: $smooth;
            &:hover {
                box-shadow: $shadow-red;
            }
        }

        a {
            color: $primary;
        }
        .flex {
            width: 100%;
            max-width: 60rem;
        }
    }
}

@media (max-width: 640px) {
    .login-register.register {
        .form-container {
            width: 100%;
        }
        #register-form {
            .flex {
                flex-direction: column;
                gap: 0;
            }
        }
    }
}
