.offer {
    img {
        box-shadow: $shadow;
        cursor: pointer;
        filter: contrast(90%);
    }
}

@media (max-width: 600px) {
    .offer {
        img {
            width: 100%;
        }
    }
}
