.orders {
    min-height: 80vh;
    .card {
        width: 100%;
        max-width: 25rem;
        background-color: #f3f3f3;
        border: 2px solid $grey;
        .orderid {
            color: white;
            background-color: $primary;
            padding: 0.2rem 0.8rem;
            border-radius: 0.5rem;
            width: fit-content;
            margin-bottom: 0.3rem;
        }
        button {
            background-color: transparent;
            color: $dark;
            border: 2px solid $grey;
            padding: 0rem 0.7rem;
            border-radius: 0.4rem;
            transition: $smooth;
            &:hover {
                border-color: $dark;
            }
        }

        .total-row {
            color: $primary;
        }

        .items {
            h3 {
                color: $primary;
            }

            table,
            th,
            td {
                border: 2px solid $grey;
                border-collapse: collapse;
            }
            td {
                padding: 0.2rem 0.7rem;
            }
        }
    }
}
