// Colors
$primary: #f03e3e;
$primary-hover: #e03131;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #495057;
$grey: #ccc;
$green: #37b24d;

// TRANSITION
$smooth: all 0.3s ease-in-out;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-red: #f03e3e46 0px 2px 8px 0px;
