@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variable';

// Custom Scroll
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 0.12rem;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $dark;
}
input {
    border: 2px solid $grey;
    transition: $smooth;
    &:focus {
        outline: none;
        border-color: $dark;
    }
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

.btn-md {
    background-color: $primary;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 100rem;
    width: fit-content;
    &:hover {
        box-shadow: $shadow-red;
    }
}

.nav-container {
    nav li a {
        transition: $smooth;
        &:hover {
            color: $primary;
        }
    }

    #logo {
        img {
            height: 4.5rem;
        }
    }

    #logo span {
        color: $primary;
    }

    #cart {
        &:hover {
            box-shadow: $shadow-red;
        }
        background-color: $primary;
        font-size: 1.3rem;
        color: $pure;
        padding: 0.2rem 0.35rem;
        border-radius: 0.2rem;
    }
}

.hero {
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: 'ar01 ar02';
    span {
        color: $primary;
    }
    img {
        width: 100%;
        max-width: 42rem;
    }
    .ar01 {
        grid-area: ar01;
    }
    .ar02 {
        grid-area: ar02;
    }
}

.hero.donate {
    span {
        color: #1971c2;
    }
    img {
        width: 100%;
        box-shadow: $shadow;
    }
    .btn-md {
        background-color: #1971c2;
        &:hover {
            box-shadow: #1970c246 0px 2px 8px 0px;
        }
    }
}

.offer {
    img {
        width: 100%;
        max-width: 35rem;
        box-shadow: $shadow;
    }
}

.menu {
    background-color: #dadada54;
    // border-top: 2px solid $primary;
    // border-bottom: 2px solid $primary;
    select {
        background-color: #5555552f;
        padding: 0.2rem 0.4rem;
        border-radius: 0.4rem;
    }
    .card {
        box-shadow: $shadow;
        border: 2px solid $grey;
        background-color: white;

        .food {
            transform: translate(-0.3rem, 3rem);
            z-index: 100;
            top: -1.7rem;
            i {
                border: 2px solid $dark;
                padding: 0.2rem;
                font-size: 0.8rem;
                border-radius: 0.2rem;
            }
        }
        .food.veg {
            i {
                border-color: $green;
                color: $green;
            }
        }
        .food.nveg {
            i {
                border-color: $primary;
                color: $primary;
            }
        }
    }
}

.cart {
    min-height: 50vh;
    padding: 3rem 0rem;

    h2 {
        color: $primary;
    }
    .qty {
        button {
            background-color: white;
            color: $primary;
            height: 1.6rem;
            width: 1.6rem;
            border: 2px solid $primary;
            border-radius: 100rem;
            transition: $smooth;
            &:hover {
                background-color: $primary;
                color: white;
            }
        }
    }
    .total {
        color: $primary;
    }
    input {
        max-width: 20rem;
        width: 100%;
        padding-left: 0.7rem;
    }
    .btn-md {
        border-radius: 0.4rem;
    }
    .orders {
        width: 100%;
        max-width: 50rem;
        .title {
            border-bottom: 2px solid $grey;
        }
        .pizza-list {
            .pizza-item {
                border-bottom: 2px solid $grey;
            }
        }
    }
}

.login-register {
    min-height: 80vh;
    .form-container {
        width: 100%;
        max-width: 25rem;
        border: 2px solid $grey;
        box-shadow: $shadow;
        padding: 2rem;
        h1 {
            color: $primary;
        }

        input {
            border: 2px solid $grey;
            padding: 0.3rem 0.5rem;
            width: 100%;
            border-radius: 0.3rem;
            margin-top: 0.5rem;
            transition: $smooth;
            &:focus {
                outline: none;
                border-color: $primary;
            }
        }

        button {
            background-color: $primary;
            color: white;
            padding: 0.5rem 0.5rem;
            transition: $smooth;
            &:hover {
                box-shadow: $shadow-red;
            }
        }

        a {
            color: $primary;
        }
    }
}

.footer {
    background-color: #dadada54;
    border-top: 2px solid $primary;
    border-bottom: 10px solid $dark;
    img {
        width: 8rem;
        height: 8rem;
    }
    p {
        max-width: 50rem;
    }
    .btn-md {
        background-color: $dark;
        border-radius: 0.3rem;
        font-size: 0.95rem;
        padding: 0.2rem 0.6rem;
        i {
            font-size: 1.2rem;
        }
        &:hover {
            box-shadow: $shadow;
        }
    }
    span {
        color: $primary;
        font-weight: bold;
    }
}

@media (max-width: 1280px) {
    .hero {
        h1 {
            font-size: 4rem;
        }
        a {
            margin-top: 1rem;
        }
    }

    .menu {
        .pizza-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 1224px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-areas: 'ar02' 'ar01';
        h1 {
            font-size: 3.5rem;
            padding-top: 1rem;
        }
    }
    .offer {
        div {
            flex-direction: column;
        }
    }

    .hero.donate {
        .img-box {
            display: block;
        }
    }
}

@media (max-width: 1026px) {
    .menu {
        .pizza-container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 768px) {
    .nav-container {
        nav li:nth-child(-n + 3) {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .menu {
        .pizza-container {
            grid-template-columns: 1fr;
        }
    }
}
