<section class="orders flex flex-col gap-6 container mx-auto px-12 pb-14">
  <div class="card">
    <span class="orderid">12JLER4RFH4ERHF4H64FD64H6R</span>
    <div>
      <span class="address">Sripur, Ghatal</span>
      <span class="phone">+917047809373</span>
    </div>
    <div class="items">
      <div class="item">
        <span class="name">Super Veg</span>
        <span class="size">medium</span>
        <span class="price">250Rs.</span>
      </div>
      <div class="item">
        <span class="name">Super Veg</span>
        <span class="size">medium</span>
        <span class="price">250Rs.</span>
      </div>
      <div class="item">
        <span class="name">Super Veg</span>
        <span class="size">medium</span>
        <span class="price">250Rs.</span>
      </div>
    </div>
    <div>Total Amounnt <span class="totalPrice">405 Rs.</span></div>
    <button class="cancleOrder">cancle</button>
  </div>
</section>